.nav{
  width: 100%;
}
.navBarTop{
  background-color: #1976D2FF;
  height: 50px;
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  width: 100%;

  img{
    filter: invert(1);
    transform: scale(0.7);
    cursor: pointer;
  }
}